<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.forif_class">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"/>
        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="5e78df205da60d39f11b6ef69207b9f3"/>
        <!-- 액티비티 추가를 하면 manifests 파일에서 다음과 같은 태그를 추가해줘야함 -->
        <activity android:name=".PhoneActivity"/>

        <activity android:name=".CalcActivity"/>
        <activity android:name=".KakaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MovieActivity"/>
        <!--                                                                    -->
    </application>
</manifest>